# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
jspm_packages/
pnpm-lock.yaml
frontend/.pnpm-store/

# Build directories
dist/
build/

# System files
.DS_Store

# IDE files
.vscode/
.idea/

# Environment files
.env
*.local

# pycache and Python files
__pycache__/
*.pyc
*.pyo
*.pyd