* {
    box-sizing: border-box;
}

@media (min-width: 1520px) and (max-width: 1720px) {
  .cardCompany {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    .card {
      width: 250px;
    }
  }
}
